h2{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    
}


/* ================== BOTONES ================== */
.botones {
    display: flex;
    flex-wrap: wrap; /* Permite que  se acomoden en filas */
    justify-content: center;   
    gap: 25px; /* Espacio entre ellos*/   
    margin-top: 200px; /* Espacio entre el banner y los botones*/    

}

.btn {
    background-color: #ffcc00; /* Amarillo dorado */
    color: black;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background-color: #ffdb4d;
    transform: scale(1.05);
}

/* Contenedor principal de equipos */
.equipos-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se acomoden dinámicamente */
    justify-content: center;
    gap: 25px; /* Espaciado entre tarjetas */
    max-width: 900px;
    margin-top: 30px; /* Espacio entre el banner y la sección de imágenes */
    margin-bottom: 25px;
    
}

/* Tarjetas de equipo */
.equipo-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 25%;  /* Ocupa el 30% del ancho de la pantalla */
    min-width: 200px; /* Tamaño mínimo para evitar que se achiquen demasiado */
    transition: transform 0.3s ease-in-out;
}

.equipo-card:hover {
    transform: scale(1.05);
}

/* Imágenes dentro de la tarjeta */
.equipo-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Botón dentro de la tarjeta */
.ver-jugadores-btn {
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 8px 15px;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.ver-jugadores-btn:hover {
    background-color: #27ae60;
}



/* Responsividad para ajustar a 3 por fila */
@media (max-width: 1024px) {
    .equipo-card {
        width: 45%;  /* Cambia a 2 tarjetas por fila en tablet */
    }
}

@media (max-width: 600px) {
    .equipos-container {
        flex-direction: column;
        align-items: center;
    }

    .equipo-card {
        width: 90%;  /* En móvil, cada tarjeta ocupa casi todo el ancho */
    }
}
