 <!-- Menú lateral -->
 <nav id="sidebar" class="sidebar">  
    <ul>
        <li><a href="index.html"><i class="fas fa-home"></i> Inicio</a></li>
        <li><a href="equipos.html"><i class="fas fa-users"></i> Equipos</a></li>
        <li><a href="#"><i class="fas fa-futbol"></i> Partidos</a></li>
        <li><a href="#"><i class="fas fa-chart-bar"></i> Estadísticas</a></li>
        <li><a href="#"><i class="fas fa-list-ol"></i> Resultados</a></li>
        <li><a href="#"><i class="fas fa-trophy"></i> Tabla de posiciones</a></li>
        <li><a href="#"><i class="fas fa-cog"></i> Configuración</a></li>
    </ul>
</nav>


<!-- Botón de menú hamburguesa -->
<button class="menu-btn" onclick="toggleMenu()">☰</button>